<mat-chip 
    color="primary"
    highlighted
    class="peer-chip ma-m"
    (click)="pickFile()"
>  
    <div class="row align-center">
        <div class="icon-container mr-m">
            <mat-icon aria-hidden="true">person</mat-icon>
        </div>
        <span> {{ peer.nickname }}</span>
    </div>
</mat-chip>
<!-- invisible file-input element that can be accessed by clicking on the project image (or the placeholder) -->
<input
#fileInput
class="hidden-file-input"
type="file"
multiple
[disabled]="isActive"
>