<div class="page">
    <mat-toolbar>
        <p style="font-weight: bold;">Sfera</p>
        <span class="toolbar-spacer"></span>
        <div class="icon-container-small mr-s">
            <mat-icon>person</mat-icon>
        </div>
        <span id="username">{{signalingService.nickname}}</span>
        <button 
            mat-mini-fab
            aria-label="logout"
            class="ml-l btn-logout"
            (click)="signalingService.disconnect()"
        >
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="column fill-height justify-center align-center inner-padding-md">
        <div *ngIf="signalingService.isConnected else notconnected">
            <app-peer-chip
                *ngFor="let peer of signalingService.getPeersOnline()"
                [peer]="peer"        
            >
            </app-peer-chip>
        </div>
        <ng-template #notconnected>
            <div class="no-connection-msg">
                <mat-icon aria-hidden="false" aria-label="No-connection-icon" fontIcon="link_off"></mat-icon>
                No connection with the server
            </div>
        </ng-template>
    </div>
    <div class="row justify-center caption mb-m">
        Click on a peer to send a file
    </div>
</div>